* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.loader {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: #ddd;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loader img {
    mix-blend-mode: darken;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    animation: float 5s ease infinite;
    position: relative;
}
.loader .dots {
    font-size: 72px;
    position: relative;
}
.loader .dots::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0;
    background-color: #ddd;
    animation: loadingDots 3s ease infinite;
    animation-timing-function: steps(8);
}
@keyframes loadingDots {
    0% {
        left: 0px;
    }
    50% {
        left: 160px;
    }
    100% {
        left: 0px;
    }
}
@keyframes float {
    from {
        bottom: 0px;
    }
    50% {
        bottom: 20px;
    }
    to {
        bottom: 0px;
    }
}

.orange {
    color: #ED892D;
}
.green {
    color: limegreen;
}

[popover] {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    background-color: rgb(0 0 0 / 50%);
    border: none;
}
[popover] > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
[popover] .video-container {
    width: max(375px, 100%);
    max-width: 800px;
    height: 600px;
}
[popover] video {
    background-color: #111;
    padding: 20px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
[popover] .exit {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    z-index: 2;
}
[popover] .exit svg {
    width: 30px;
    height: 30px;
    color: #fff;
}
[popover] .note {
    width: max(260px, 100%);
    max-width: 600px;
    border: 2px solid #ED892D;
    border-radius: 10px;
    background-color: #ed8a2d32;
    color: #111;
    font-size: 14px;
    padding: 10px;
}

.contact-us-form {
    background-color: #fff;
    width: max(300px, 100%);
    max-width: 800px;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-us-form form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.contact-us-form :where(input, textarea){
    font-weight: 100;
    width: max(300px, 100%);
    max-width: 600px;
    font-size: 14px;
    padding: 10px;
    resize: none;
    outline: none;
}
.contact-us-form textarea {
    height: 200px;
}
.contact-us-form .buttons {
    width: max(300px, 100%);
    max-width: 600px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row-reverse;
    gap: 20px;
}
.contact-us-form button {
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    background-color: #ddd;
}
.contact-us-form button[type="submit"] {
    background-color: #ED892D !important;
    color: #fff;
}




.order-form {
    background-color: #fff;
    width: max(260px, 100%);
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}
.order-form form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.order-form .input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
}
.order-form :where(input, select){
    font-weight: 100;
    width: max(260px, 100%);
    max-width: 600px;
    font-size: 14px;
    padding: 10px;
    resize: none;
    outline: none;
}
.order-form input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
.order-form label {
    width: max(260px, 100%);
    max-width: 600px;
    font-size: 14px;
}
.order-form :where(.contacts, .names, .order-info) {
    display: flex;
    justify-content: center;
    width: max(260px, 100%);
    max-width: 600px;
    display: flex;
    gap: 20px;
}
.order-form :where(.contacts, .names, .order-info) input {
    width: max(290px, 100%);
    max-width: 600px;
}
.order-form .buttons {
    width: max(260px, 100%);
    max-width: 600px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row-reverse;
    gap: 20px;
}
.order-form button {
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    background-color: #ddd;
}
.order-form button[type="submit"] {
    background-color: #ED892D !important;
    color: #fff;
}
.order-form .confirmation {
    display: flex;
    gap: 20px;
    width: max(260px, 100%);
    max-width: 600px;
    font-size: 14px;
}




header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: #fff;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .img-container {
    width: 80px;
    height: 80px;
    overflow: hidden;
    cursor: pointer;
}
header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-links button {
    font-size: 14px;
    color: #000;
    text-transform: capitalize;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.cta-link {
    font-size: 14px;
    color: #fff;
    background-color: #ED892D;
    display: flex;
    align-items: center;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
}

.menu-button {
    width: 40px;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.exit-menu-button svg {
    color: #fff;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.menu-button span {
    width: 100%;
    height: 6px;
    border-radius: 2px;
    background-color: #111;
}
.menu-bar {
    position: absolute;
    right: -400px;
    top: 0;
    width: max(300px, 400px);
    height: 100vh;
    background-color: #111;
    transition: right .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-bar .menu-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu-links label {
    text-transform: capitalize;
    font-weight: 100;
    font-size: 36px;
    border: none;
    background-color: transparent;
    color: #fff;
    text-align: left;
    padding: 10px;
}
.menu-links .cta-link {
    font-size: 36px;
    color: #fff;
    background-color: #ED892D;
    display: flex;
    align-items: center;
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    border: none;
}
:is(#menu-button:checked) + .menu-bar{
    right: 0%;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}




.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}
.hero :where(h1, h2) {
    text-wrap: balance;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 5px 5px rgb(0 0 0 / 50%);
    font-weight: 1000;
    text-align: center;
}
.hero h1 {
    font-size: clamp(48px, 8vw, 96px);
}
.hero h2 {
    font-size: clamp(24px, 4vw, 48px);
}
.hero span {
    color: #ED892D;
}
.hero .cta-link {
    font-size: 24px;
    width: max(260px, 100%);
    max-width: 300px;
    height: 80px;
    margin-top: 100px;
    background-color: transparent;
    border: 3px solid #ED892D;
    transition: background-color .3s ease;
}
.hero .cta-link:hover {
    background-color: #ED892D;
}
.hero .bg-img {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
}
.hero .bg-img img {
    width: 100%;
    height: 110%;
    object-fit: cover;
    object-position: center;
    filter: brightness(.3);
    position: absolute;
    left: 0;
    top: -80px;
}




.about {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: clamp(100px, 25vw, 256px);
    padding-bottom: clamp(100px, 25vw, 256px);
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.about .container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 80px;
}
.about .img-container {
    width: max(260px, 100%);
    max-width: 600px;
    height: clamp(260px, 80vw, 600px);
    overflow: hidden;
    position: relative;
}
.about img {
    width: 100%;
    height: 100%;
    scale: 1.5;
    object-fit: cover;
    object-position: center;
}
.about .about-content {
    width: max(260px, 100%);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.about-content h1 {
    font-size: clamp(24px, 8vw, 48px);
}
.about-content p {
    font-size: clamp(12px, 5vw, 18px);
    line-height: 29px;
}
.about .contacts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about .icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about svg {
    width: 30px;
    height: 30px;
}
.about .contacts > div {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    width: 300px;
}
.about .contacts p {
    font-size: 14px !important;
}



.features {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: clamp(100px, 25vw, 256px);
    padding-bottom: clamp(100px, 25vw, 256px);
    background-color: #ddd;
}
.features .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.features .cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    overflow: hidden;
}
.features .card {
    width: max(260px, 100%);
    max-width: 500px;
    height: clamp(260px, 80vw, 500px);
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #fff;
}
.features .card p {
    width: max(200px, 100%);
    max-width: 300px;
    text-align: center;
    font-size: clamp(14px, 5vw, 18px);
    line-height: 29px;
    text-shadow: 0 0 3px rgb(0 0 0 / 50%);
}
.features .img-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -1;
    transition: scale .3s ease;
}
.features img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(.5);
}
.features .card:hover .img-container {
    scale: 1.2;
}




.products {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: clamp(100px, 25vw, 256px);
    padding-bottom: clamp(100px, 25vw, 256px);
    position: relative;
    background-color: #111;
}
.products .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(100px, 25vw, 256px);
}
.products section {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 80px;
}
.products .img-container {
    width: max(260px, 100%);
    max-width: 600px;
    height: clamp(260px, 80vw, 600px);
    overflow: hidden;
    position: relative;
}
.products img {
    width: 100%;
    height: 120%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0;
    top: -120px;
}
.products .content {
    width: max(260px, 100%);
    max-width: 600px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.products .content h1 {
    font-size: clamp(24px, 8vw, 48px);
}
.products .content p {
    font-size: clamp(14px, 2vw, 18px);
    line-height: 29px;
}
.products .schedule {
    margin-top: clamp(50px, 10vw, 100px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.products .schedule p {
    display: flex;
    gap: 20px;
}
.products span {
    font-size: 24px;
    width: 30px;
    height: 30px;
    /* background-color: lime; */
    display: flex;
}
.products i {
    color: #ED892D;
}


.how-to-order {
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: clamp(100px, 25vw, 256px);
    padding-bottom: clamp(100px, 25vw, 256px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.how-to-order .container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}
.how-to-order .content {
    width: max(260px, 100%);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.how-to-order h1 {
    font-weight: 1000;
    font-size: clamp(36px, 5vw,56px);
}
.how-to-order p {
    font-size: clamp(14px, 2vw, 18px);
    line-height: 29px;
}
.how-to-order .img-container {
    width: max(260px, 100%);
    max-width: 600px;
    height: clamp(260px, 80vw, 500px);
    position: relative;
}
.how-to-order img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}
.how-to-order .play-action {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 50%);
    transition: opacity .3s ease;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.how-to-order .img-container:hover .play-action {
    opacity: 1;
}
.how-to-order .play-action > button {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #ED892D;
    color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.how-to-order svg {
    width: 50px;
    height: 50px;
}



.cta-section {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.cta-section::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-attachment: fixed;
    background-image: url("images/coconut-truck.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(.3);
}
.cta-section .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cta-section .content {
    color: #fff;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}
.cta-section h1 {
    text-wrap: balance;
    font-size: clamp(48px, 8vw,72px);
    text-transform: capitalize;
}
.cta-section p {
    font-size: clamp(14px, 5vw, 24px);
    line-height: 29px;
}
.cta-section .cta-link {
    font-size: 24px;
    width: max(260px, 100%);
    max-width: 300px;
    height: 80px;
    margin-top: 100px;
    background-color: transparent;
    border: 3px solid #ED892D;
    transition: background-color .3s ease;
}
.cta-section .cta-link:hover {
    background-color: #ED892D;
}



.feedback {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: clamp(100px, 25vw, 256px);
    padding-bottom: clamp(100px, 25vw, 256px);
    display: flex;
}
.feedback .container {
    width: max(260px, 100%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}
.feedback .form {
    width: max(260px, 100%);
    max-width: 600px;
}
.feedback form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.feedback textarea {
    height: 300px;
    resize: none;
    outline: none;
    padding: 10px;
    font-size: clamp(14px, 2vw, 18px);
}
.feedback input {
    padding: 10px;
    font-size: clamp(14px, 2vw, 18px);
    outline: none;
}
.feedback [type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ED892D;
    color: #fff;
    border: none;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
}
.feedback .content {
    width: max(260px, 100%);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.feedback .content h1 {
    font-size: clamp(36px, 4vw, 44px);
}
.feedback .content p {
    font-size: clamp(14px, 2vw, 18px);
    line-height: 29px;
}



footer {
    width: 100%;
    background-color: #111;
}
footer hr {
    width: 100%;
}
footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer section {
    width: max(260px, 100%);
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    color: #fff;
    flex-wrap: wrap;
}
footer section:first-child > div {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
footer .img-container {
    width: max(260px, 100%);
    max-width: 300px;
    height: clamp(260px, 80vw, 300px);
    position: relative;
}
footer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
footer .content {
    max-width: 580px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer h1 {
    font-size: clamp(36px, 8vw, 44px);
}
footer section:first-child a {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    width: max(260px, 100%);
    max-width: 300px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
}
footer .magnetic-text {
    display: flex;
    gap: 20px;
}
footer section:last-child {
    display: flex;
    justify-content: space-between;
}
footer section:last-child button {
    color: #fff;
}


.payment-transaction-container {
    background-color:#ED892D55;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 100px 20px;
    overflow-y: auto;
}
.payment-transaction-container .qr-code {
    width: max(260px, 100%);
    max-width: 500px;
    min-height: 600px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.payment-transaction-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}
.payment-transaction-container span {
    font-size: 14px;
}
.payment-transaction-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: limegreen;
    cursor: pointer;
    font-size: 14px;
}






@media (max-width: 1276px){
    footer section {
        justify-content: center;
    }
    footer .content {
        align-items: center;
    }
    footer h1 {
        text-align: center;
    }
}
@media (max-width: 968px){
    .about .container, .features .cards, .team .persons, .products section  {
        flex-wrap: wrap;
    }
    .team .persons, .features .cards {
        flex-direction: column;
        align-items: center;
    }
    .products section:last-child {
        align-items: center;
        flex-flow: column-reverse;
    }
}
@media (max-width: 800px){
    [popover] > div {
        left: 0%;
        top: 50%;
        transform: translate(0%, -50%);
    }
    [popover] .video-container {
        height: 100vh;
    }
    .contact-us-form, .order-form {
        height: 100%;
    }
    .order-form :not(.confirmation) {
        flex-wrap: wrap;

    }
}
@media (min-width: 600px){
    .menu-bar {
        display: none;
    }
}
@media (max-width: 600px){
    .nav-links {
        display: none;
    }
    .menu-button {
        display: flex
    }
    header .cta-link {
        display: none;
    }
    footer section:last-child {
        width: fit-content;
    }
}